.row
  .col-md-8.col-md-offset-2
    .question
      .question-fav
        .bucketerize{data: {rel: "bucketerize", bucketerize: {mode: 'standard', resource_type: 'QuestionBank::Question', resource_id: @question.id.to_s}}}
          .unhas
            %button.btn.btn-default 收藏
          .has
            %button.btn.btn-info 已收藏

      %form{:action => "/e/test_question/questions/#{@question.id.to_s}/do_question_validation", :method => :post}

        .question-title= @question.content

        .question-options{:class => @question.kind}
          - case @question.kind
            - when "single_choice"
              - @question.choices.each_with_index do |choice, index|
                .form-group
                  .radio
                    %label
                      %input{:type => "radio", :name => "answer", :value => index}
                      = choice

            - when "multi_choice"
              - @question.choices.each_with_index do |choice, index|
                .form-group
                  .checkbox
                    %label
                      %input{:type => "checkbox", :name => "answer[]", :value => index}
                      = choice

            - when "mapping"
              - left_mapping_options  = @question.left_mapping_options
              - right_mapping_options = @question.right_mapping_options
              - left_mapping_options.each_with_index do |left_option, index|
                .select-pair
                  %input{:type => "hidden", :name => "answer[#{index}][]", :value => left_option}
                  = left_option
                  %select{:name => "answer[#{index}][]",:class=>'select form-control'}
                    %option{:value => '空'} 空
                    - right_mapping_options.each do |right_option|
                      %option{:value => right_option}= right_option

            - when "bool"
              .form-group
                .radio
                  %label
                    %input{:type => "radio", :name => "answer", :value => "true"} 正确
              .form-group
                .radio
                  %label
                    %input{:type => "radio", :name => "answer", :value => "false"} 错误

            - when "fill"
              - @question.fill_count.times do |index|
                .form-group
                  %label= "填空#{index+1}"
                  %input{:class => "form-control", :type => "text", :name => "answer[]"}

            - when "essay"
              %textarea{:class => "form-control", :name => "answer", :rows => 5}

        .question-submit
          .form-group
            %input.btn.btn-default{:type => "submit"}

        .question-result-info
