.page-question-flaws
  = simple_navtabs(:bank_my_test_questions)

  = quick_filter_bar do |b|
    - b.group :kind, text: '类型' do |g|
      - g.add 'single_choice', text: '单选题'
      - g.add 'multi_choice',  text: '多选题'
      - g.add 'fill',          text: '填空题'
      - g.add 'mapping',       text: '连线题'
      - g.add 'bool',          text: '判断题'
      - g.add 'essay',         text: '论述题'

    - b.group :time, text: '时间' do |g|
      - g.add 'a_week',       text: '一周内'
      - g.add 'a_month',      text: '一个月内'
      - g.add 'three_months', text: '三个月内'

  %table.table
    %thead
      %tr
        %th.th-check
        %th.th-one 时间
        %th.th-two 题目
        %th.th-three 正确答案
        %th.th-four 答案解析
        %th.th-five 类型
        %th.th-six 操作
    %tbody
      - @question_flaws.each do |flaw|
        %tr
          %td
            %input{type: 'checkbox', name: 'flaw'}
          %td= flaw.created_at
          %td
            - case flaw.question.kind
              - when "single_choice", "multi_choice"
                %div= flaw.question.content
                - flaw.question.choices.each_with_index do |choice, index|
                  %div= "#{("A".."Z").to_a[index]} #{choice}"
              - when "bool", "mapping", "essay","fill"
                %div= flaw.question.content
          %td
            - case flaw.question.kind
              - when "single_choice", "multi_choice"
                %div= flaw.question.choice_answer_indexs.map{|index|("A".."Z").to_a[index]}.join(",")
              - when "bool"
                %div= flaw.question.bool_answer ? "正确" : "错误"
              - when "mapping"
                - flaw.question.mapping_answer.each do |option|
                  %div= "#{option[0]} --- #{option[1]}"
              - when "fill"
                %div= flaw.question.fill_answer.join("，")
              - when "essay"
                %div= flaw.question.essay_answer
          %td= flaw.question.analysis
          %td= flaw.question.human_kind
          %td
            %a{class: "redo-question", target: '_blank', href: "/bank/my_test_questions/#{flaw.question_id.to_s}/do_form"} 重做
            %a{class: "delete-flaw", href: 'javascript:;', data: {question_flaw_id: flaw.id.to_s, question_flaw_url: e_test_question.question_flaw_path(flaw)}} 删除

  .flaw-batch
    .checkbox
      %label
        %input{type: 'checkbox', name: "check-all"} 全选
    %a.btn.btn-default.batch-delete-flaw{:role=>"button", data: {batch_destroy_question_flaws_url: e_test_question.batch_destroy_question_flaws_path}}
      %i.glyphicon.glyphicon-trash
      %span 批量删除
