.page-question-records{data: {question_flaws_url: e_test_question.question_flaws_path, batch_destroy_question_records_url: e_test_question.batch_destroy_question_records_path, batch_create_question_flaws_url: e_test_question.batch_create_question_flaws_path}}
  = simple_navtabs(:bank_my_test_questions)

  = quick_filter_bar do |b|
    - b.group :is_correct, text: '结果' do |g|
      - g.add 'true',  text: '正确'
      - g.add 'false', text: '错误'

    - b.group :kind, text: '类型' do |g|
      - g.add 'single_choice', text: '单选题'
      - g.add 'multi_choice',  text: '多选题'
      - g.add 'fill',          text: '填空题'
      - g.add 'mapping',       text: '连线题'
      - g.add 'bool',          text: '判断题'
      - g.add 'essay',         text: '论述题'

    - b.group :time, text: '时间' do |g|
      - g.add 'a_week',       text: '一周内'
      - g.add 'a_month',      text: '一个月内'
      - g.add 'three_months', text: '三个月内'

  %table.table
    %thead
      %tr
        %th.th-check
        %th.th-one 时间
        %th.th-two 题目
        %th.th-three 类型
        %th.th-four 做题结果
        %th.th-five 操作
    %tbody
      - @question_records.each do |record|
        %tr
          %th
            %input{type: 'checkbox', name: "record"}
          %td= record.created_at
          %td= record.question.content
          %td= record.question.human_kind
          - if record.is_correct?
            %td.text-success 正确
          - else
            %td.text-danger 错误
          %td
            - if !record.is_correct?
              - if !record.question.is_in_flaw_list_of?(current_user)
                %a{class: "into-flaw", href: 'javascript:;', data: {question_id: record.question_id.to_s}} 加入错题本
                %span.flawed.hide 已经加入错题本
              - else
                %span.flawed 已经加入错题本
            %a{class: "delete-record", href: 'javascript:;', data: {question_record_url: e_test_question.question_record_path(record)}} 删除记录

  .record-batch
    .checkbox
      %label
        %input{type: 'checkbox', name: "check-all"} 全选
    %a.btn.btn-default.batch-into-flaw{role: "button"}
      %i.glyphicon.glyphicon-plus
      %span 批量加入错题本
    %a.btn.btn-default.batch-delete-record{role: "button"}
      %i.glyphicon.glyphicon-trash
      %span 批量删除记录
