:ruby
  learners = Explore::Mock.learners

.tutorials
  - @tutorials.each do |tutorial|
    .tutorial
      %a.box{:href => "/sample/tutorials/#{tutorial.id}", :data => {:toggle => true}}
        :ruby
          steps_count = tutorial.steps.count
          imgs_count = 0 #tutorial.steps.map{|s| s.imgs.length}.sum
          videos_count = tutorial.steps.map{|s| s.video.blank? ? 0:1}.sum
          related_count = tutorial.related.count
          learning_count = learners.count
          learned_count = learners.select {|x|
            x.learned.include? tutorial.id
          }.count

        .img= fit_image tutorial.img, :width => '100%', :height => '100%'
        .title= tutorial.title
        .desc= tutorial.desc
        .info
          .points
            %i.fa.fa-circle-o
            %span 相关知识点
            %span= related_count
          .counts
            .steps
              %i.fa.fa-list-ol
              %span 步骤
              %span= steps_count
            .imgs
              %i.fa.fa-image
              %span 图片
              %span= imgs_count
            .videos
              %i.fa.fa-video-camera
              %span 视频
              %span= videos_count
          .learn-stat
            .learning
              %i.fa.fa-user
              %span #{learning_count} 人学过
            .learned
              %i.fa.fa-check
              %span #{learned_count} 人学完