.page-bank-manage-model-label
  .page-header
    %h3
      标签管理
    %small 在这里可以管理标签

  = quick_filter_bar do |b|
    - b.group :name, text: '模型名' do |g|
      - ModelLabel.get_model_names.each do |name|
        - g.add name, text: name

  .nav.nav-tabs
    %li.icon.active
      %a{href: '/bank/manage/model_labels'}
        %i.glyphicon.glyphicon-th-list
        %span 列表
    %li.dropdown
      %a.dropdown-toggle{href: 'javascript:;', role: 'button', data: {toggle: 'dropdown'}, aria: {haspopup: 'true', expanded: 'true'}}
        %i.glyphicon.glyphicon-plus
        新增
        %span.caret
      %ul.dropdown-menu
        - base_url = "/bank/manage/model_labels/new?name="
        - ModelLabel.get_model_names.each do |name|
          %li
            %a{:href=> "#{base_url}#{name}" }= "#{name}标签"

  .tab-content
    %table.table
      %thead
        %tr
          %th.th-one 模型名
          %th.th-two 标签名
          %th.th-three 允许值
          %th.th-four 操作
      %tbody
        - @model_labels.each do |model_label|
          %tr
            %td= ModelLabel.get_name_by_model(model_label.model.constantize)
            %td= model_label.name
            %td= model_label.values.join("，")
            %th
              = link_to "编辑", "/bank/manage/model_labels/#{model_label.id}/edit"
              = link_to "删除", "/bank/manage/model_labels/#{model_label.id}", :method => :delete, :data => {:confirm => "确认删除吗？"}

      %tfoot
        %tr
          %th{colspan: 4}
            .pull-right= paginate @model_labels, :theme => 'twitter-bootstrap-3'
