:ruby
  students_mock()
  tutorials_mock2()
  student = @students.select{|x| x.id == params[:id]}[0]

  if student.learned
    learned_tutorials = @tutorials
  else
    learned_tutorials = @tutorials[0..5]
  end

.col-pad-6
  .history
    .user
      .avatar= avatar User.new
      .name= student.name

    - learned_tutorials.each do |tutorial|
      .his
        .tutorial
          %a.box{:href => "/sample/tutorials/#{tutorial.id}", :data => {:toggle => true}}
            :ruby
              steps_count = tutorial.steps.count
              imgs_count = tutorial.steps.map{|s| s[:imgs].length}.sum
              videos_count = tutorial.steps.map{|s| s[:video].blank? ? 0:1}.sum

            .img= fit_image tutorial.img, :width => '100%', :height => '100%'
            .info
              .title= tutorial.title
        - if tutorial.id == 'sample-1'
          .hard
            %span 难
        - if tutorial.id == 'sample-3'
          .easy
            %span 易
        - if tutorial.id == 'sample-1' || tutorial.id == 'sample-5'
          .question
            %span
              %i.fa.fa-question
        - if tutorial.id == 'sample-1' || tutorial.id == 'sample-4'
          .note
            %span
              %i.fa.fa-pencil