.navbar
  = link_to "首页", "/"
  >
  = link_to "教学计划列表", "/plans"
  >
  = link_to "教学计划: #{params[:plan_id]}", "/plans/#{params[:plan_id]}"
  >
  添加所属主题

.page-model-form
  .action
    = link_to "返回", "/plans/#{params[:plan_id]}"

  = plan_store_form_for @topic, "/plans/#{params[:plan_id]}/topics"

