.cell-dandelion-list{:class => @plural}
  - @models.each do |model|
    .model{:class => @singular}
      - if @config.blank?
        .fields
          - @klass.fields.keys.each do |key|
            = dendelion_list_field model, key, true

        .ops
          = dendelion_list_button model, :edit
          = dendelion_list_button model, :delete

      - else
        .fields
          - @config.each do |key, cfg|
            = dendelion_list_field model, key, cfg

        .ops
          - (@config[DandelionCell::OPS_KEY] || {}).each do |key, cfg|
            = dendelion_list_button model, key, cfg