!!!
%html{:lang => :zh}
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}

    %title Knowledge Camp
    = stylesheet_link_tag 'application', :media => 'screen'
    = csrf_meta_tags
    = javascript_include_tag 'application'

  %body.net-graph{:data => {:net => @net.id}}
    .page-content
      .sidebar
        .net-info
          .name= @net.name
          - if @net.desc.present?
            .desc= @net.desc
          .points-count
            %span= @net.points.count
            %span 个知识点

        .back
          %a{:href => url_for([:old, :manage, @net]), :data => {:toggle => ['fade', 'fade']}}
            %i.fa.fa-arrow-left
            %span 退出

      .graph-paper
