.page-bank-manage-test-questions
  .page-header
    %h3
      题库管理
    %small 在这里可以管理题库


  = quick_filter_bar do |b|
    - b.group :kind, text: '类型' do |g|
      - g.add 'single_choice', text: '单选题'
      - g.add 'multi_choice',  text: '多选题'
      - g.add 'fill',          text: '填空题'
      - g.add 'mapping',       text: '连线题'
      - g.add 'bool',          text: '判断题'
      - g.add 'essay',         text: '论述题'

    - b.group :time, text: '时间' do |g|
      - g.add 'a_week',       text: '一周内'
      - g.add 'a_month',      text: '一个月内'
      - g.add 'three_months', text: '三个月内'

  .nav.nav-tabs
    %li.icon.active
      %a{href: bank_manage_courses_path}
        %i.glyphicon.glyphicon-th-list
        %span 列表
    %li.dropdown
      %a.dropdown-toggle{href: 'javascript:;', role: 'button', data: {toggle: 'dropdown'}, aria: {haspopup: 'true', expanded: 'true'}}
        %i.glyphicon.glyphicon-plus
        新增
        %span.caret
      %ul.dropdown-menu
        - base_url = new_bank_manage_test_question_path + "?kind="
        %li
          %a{:href=> "#{base_url}single_choice" } 单选题
        %li
          %a{:href=> "#{base_url}multi_choice" } 多选题
        %li
          %a{:href=> "#{base_url}bool" } 判断题
        %li
          %a{:href=> "#{base_url}fill" } 填空题
        %li
          %a{:href=> "#{base_url}essay" } 论述题
        %li
          %a{:href=> "#{base_url}mapping" } 连线题

  .tab-content
    %table.table
      %thead
        %tr
          %th.th-check
          %th.th-one 时间
          %th.th-two 题目
          %th.th-three 正确答案
          %th.th-four 答案解析
          %th.th-five 类型
          %th.th-six 操作
      %tbody
        - @questions.each do |question|
          %tr
            %td
            %td= question.created_at
            %td
              - case question.kind
                - when "single_choice", "multi_choice"
                  %div= question.content
                  - question.choices.each_with_index do |choice, index|
                    %div= "#{("A".."Z").to_a[index]} #{choice}"
                - when "bool", "mapping", "essay","fill"
                  %div= question.content
            %td
              - case question.kind
                - when "single_choice", "multi_choice"
                  %div= question.choice_answer_indexs.map{|index|("A".."Z").to_a[index]}.join(",")
                - when "bool"
                  %div= question.bool_answer ? "正确" : "错误"
                - when "mapping"
                  - question.mapping_answer.each do |option|
                    %div= "#{option[0]} --- #{option[1]}"
                - when "fill"
                  %div= question.fill_answer.join("，")
                - when "essay"
                  %div= question.essay_answer
            %td= question.analysis
            %td= question.human_kind
            %th
              = link_to "编辑", edit_bank_manage_test_question_path(question.id)
              = link_to "删除", bank_manage_test_question_path(question.id), :method => :delete, :data => {:confirm => "确认删除吗？"}

      %tfoot
        %tr
          %th{colspan: 7}
            .pull-right= paginate @questions, :theme => 'twitter-bootstrap-3'
