.navbar
  = link_to "首页", "/"
  >
  = link_to "教学计划列表", "/plans"
  >
  = link_to "教学计划: #{@tutorial.topic.plan.name}", "/plans/#{@tutorial.topic.plan.id}"
  >
  = link_to "主题: #{@tutorial.topic.name}", "/topics/#{@tutorial.topic_id}"
  >
  教程: #{@tutorial.name}

.page-model-form
  .action
    = link_to "返回", "/topics/#{@tutorial.topic_id}"
    = delete_link "[删除]", "/tutorials/#{@tutorial.id}"
  = plan_store_form_for @tutorial, "/tutorials/#{@tutorial.id}"

