.cell-manage-documents.grid
  - @documents.each do |document|
    .document
      :ruby
        title = document.title
        content = document.content
      .box
        %a.link{:href => url_for([:manage, document]), :data => {:toggle => ['open', 'close']}}
        .page
          .title= title
          .content= content
      .info
        .creator-info
          %span.creator= document.creator.name
          %span 编辑于
          %span.updated_at= document.updated_at
        .version-info
          %span= document.versions.count + 1
          %span 个历史版本