.page-side.col-pad-1

.page-main.col-pad-10
  .page-bread-pieces
    .bread{:style => 'margin-left:10px;margin-right:10px;'}
      .link.net
        %a{:href => url_for([:manage, @version.net]), :data => {:toggle => ['open', 'close']}}
          = @version.net.name
      .bread.current
        .documents
          .title= @version.title
          .edited 由 #{@editor.name} 在 #{@version.updated_at} 编辑
          .version 版本: #{@version.version}
          .content= @version.content
          %a.back{:href => "/manage/documents/#{@document.id}/versions"}
            返回
