- if @user == current_user
  .col-pad-8.col-pad-offset-2
    .avatar-form
      .header
        %h2.cell 更改头像 …

        .avatar.v1= avatar @user, :large
        .avatar.v2= avatar @user, :normal
        .avatar.v3= avatar @user, :small

      = simple_form_for @user, :url => [:manage, @user, :avatar], :method => :put do |f|
        %h2.cell 选择图片文件作为用户头像 …
        .form-group
          = f.input :avatar, :label => false
        .form-group.submit
          = f.submit '确定上传', :class => 'btn btn-rounded btn-bdb-fresh'
          %a.cancel.btn.btn-rounded.btn-bdb{:href => url_for([:manage, @user]), :data => {:toggle => true}} 取消

- else
  %span 你只能修改自己的头像