- name = model.model_name.element

= simple_form_for model, :url => url, :as => name do |f|
  .field= f.input :name, :placeholder => "name"
  .field= f.input :desc, :placeholder => "desc"

  - case model.class
  - when KnowledgeNetPlanStore::Plan
    - nets = KnowledgeNetStore::Net.all.map {|n| [n.name, n.id]} 
    .field= f.select :net_id, nets
  - when KnowledgeNetPlanStore::Tutorial
    - points = KnowledgeNetStore::Point.all
    .field= f.collection_check_boxes :point_ids, points, :id, :name

  .field= f.submit "提交"
