:ruby
  point = @point

  toturials = @tutorials.select{ |x|
    x.related.include? point.name
  }

.col-pad-2
  %a.back{:href => '/o/sample/nets', :data => {:toggle => true}}
    %i.fa.fa-arrow-left
    %span 返回上级
  .side
    .point
      .box
        :ruby
          bg = string_grid_color(point.id)
        .img
          .circle{:style => "border-color:#{bg};"}
        .title= point.name
        .desc= point.desc

.col-pad-10
  .main
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th 相关教程掌握程度
          - @learners.each do |s|
            %th{:colspan => 2}
              %a{:href => "/o/sample/students/#{s.id}", :data => {:toggle => true}}
                %span.avatar= avatar User.new, :small
                %span.name= s.name
          %th 平均掌握程度

      %tbody
        :ruby
          arru = {}
          @learners.each do |s|
            arru[s] = []
          end

        - toturials.each_with_index do |tutorial, i|
          :ruby
            num = i + 1

          %tr
            %td
              %span.title= tutorial.title
            - ps = []
            - @learners.each do |s|
              %td{:colspan => 2}
                :ruby
                  learned = s.learned.include? tutorial.id

                - if learned
                  - ps << 100
                  - arru[s] << 100
                  %span 100%
                  %i.fa.fa-check
                - else
                  :ruby
                    c = tutorial.steps.count
                    p = 1.0 / c
                    p = (p * 100.0).round(2)
                    ps << p
                    arru[s] << p
                  %span #{p}%

            - rate = (ps.sum * 1.0 / ps.length).round(2)
            %td.hard-score #{rate}%

        %tr
          %td 
            %b 
          - arrp = []
          - @learners.each do |s|
            %td.learning{:colspan => 2, :rowspan => 2}
              :ruby
                percent = (arru[s].sum * 1.0 / arru[s].length).round(2)
                arrp << percent
              .info
                %span #{percent}%
              .bar
                .p{:style => "width:#{percent}%"}
          %td
            %b 知识点总体掌握程度
        %tr
          :ruby
            percent = (arrp.sum * 1.0 / arrp.length).round(2)
          %td
          %td.s-d
            %b #{percent}%

  .toturials
    %h3{:style => 'margin-bottom:20px;'} 相关教程 ……
    .row
      = render_cell :tutorial, :sample_list, toturials
