.cell-manage-nets.grid.row
  - @nets.each do |net|
    .net
      %a.box{:href => url_for([:manage, net]), :data => {:toggle => true}}
        .name= net.name
        .desc= net.desc
        .updated-at 更新于 #{net.updated_at}
        .stat
          .it.points 
            .count #{net.points.count} 
            .text 知识点 
          .it.documents
            %i.fa.fa-file-text
            .count  #{net.documents.count}
            .text 文档 