%section{:class => @section_klass, :id => @section_klass}
  .header
    %a.title{:href => @more_url, :data => @data_toggle}= @title
    %a.btn.btn-rounded.btn-bdb-fresh.btn-small{:href => @new_url, :data => @data_toggle}
      %i.fa{:class => @new_icon_klass}
      %span= @new_string

  = render_cell @name, :grid, @models

  - if @models.blank?
    .nodata
      目前还没有#{@name_human}

  - else
    .show-more
      %a{:href => @more_url, :data => @data_toggle}
        查看所有 #{@count} 个#{@name_human}