.page-header
  %h3
    %a{href: url_for([:bank, :manage, :courses])} 课程编排
    %span /
    %a{href: url_for([:bank, :manage, @ware.chapter.course])}= @ware.chapter.course.title
    %span /
    %a{href: url_for([:bank, :manage, @ware.chapter])}= @ware.chapter.title
    %span /
    %a{href: bank_manage_ware_path(@ware.id)}= @ware.title
    %span /
    %span 修改

= simple_form_for @ware, url: bank_manage_ware_path(@ware.id), method: :put do |f|
  .form-inputs
    = f.input :title, input_html: {name: "ware[title]"}
    = f.input :desc, as: :text, input_html: {name: "ware[desc]"}

  %br
  .form-actions
    %button.btn.btn-primary.btn-submit{type: 'submit'}
      %i.glyphicon.glyphicon-ok
      %span 保存
    %span.extra_buttons
      %a.btn.btn-default{type: 'button', href: url_for([:bank, :manage, @ware.chapter])}
        %i.glyphicon.glyphicon-remove
        取消
