.page-manage-chapter-show
  .page-header
    %h3
      %a{href: url_for([:bank, :manage, :courses])} 课程编排
      %span /
      %a{href: url_for([:bank, :manage, @chapter.course])}= @chapter.course.title
      %span /
      %span= @chapter.title

  .nav.nav-tabs
    %li.icon.active
      %a{href: "/bank/manage/chapters/#{@chapter.id}"}
        %i.glyphicon.glyphicon-info-sign
        %span 查看
    %li.icon
      %a{href: "/bank/manage/chapters/#{@chapter.id}/edit"}
        %i.glyphicon.glyphicon-pencil
        %span 修改
    %li.icon
      %a{href: "/bank/manage/chapters/#{@chapter.id}", data: {method: 'delete', confirm: '你确定？'}}
        %i.glyphicon.glyphicon-trash
        %span 删除

  .tab-content
    .desc.well
      - desc = @chapter.desc.blank? ? '章节目前没有简介' : @chapter.desc
      = simple_format("章节简介：#{desc}")


    %ul.nav.nav-tabs
      %li#chapters-tab.active{role: 'presentation'}
        %a{href: "#chapters", role: 'tab', data: {toggle: 'tab'}, aria: {controls: 'chapters', expanded: 'true'}}
          %span
            课件(
            = @wares.count
            )

    .tab-content
    
      = quick_filter_bar do |b|
        - b.group :type, text: '类型' do |g|
          - g.add "KcCourses::SimpleDocumentWare", text: "文档"
          - g.add "KcCourses::SimpleVideoWare", text: "视频"
          - g.add "KcCourses::SimpleAudioWare", text: "音频"
            
      %table.table.table-bordered.table-striped
        %thead
          %th.title 标题
          %th.updated_at 更新时间
          %th.transcode_status 转码状态
          %th.opts 操作
          %th.position 排序位置
        %tbody
          - @wares.each do |ware|
            %tr.ware
              %td.title= ware.title
              %td.updated_at= ware.updated_at
              - if ware.file_entity.blank?
                %td.transcode_status 无需转码
              - else
                %td.transcode_status= ware.file_entity.transcode_success? ? "完成" : "转码中"
              %td.opts
                - qrcode_url = File.join(ENV["qiniu_callback_host"], "bank/manage/wares/#{ware.id}/preview")
                %a{href: 'javascript:;', class: 'ware-preview-qrcode', rel: 'popover', data: {content: "<div class='qrcode' data-url='#{qrcode_url}'/>", :"original-title" => '手机扫描二维码，预览课件'}} 二维码
                %a{href: "/bank/manage/wares/#{ware.id}/edit"} 编辑
                %a{href: "/bank/manage/wares/#{ware.id}", data: {method: 'delete', confirm: '你确定吗？'}} 删除
              %td.position
                %a.btn.btn-default.btn-xs.move-down.updown{href: "/bank/manage/wares/#{ware.id}/move_down", data: {method: 'put'}, title: '向下移动'}
                  %i.glyphicon.glyphicon-arrow-down
                %a.btn.btn-default.btn-xs.move-up.updown{href: "/bank/manage/wares/#{ware.id}/move_up", data: {method: 'put'}, title: '向上移动'}
                  %i.glyphicon.glyphicon-arrow-up
        %tfoot
          %tr
            %th{colspan: 4}
              .pull-left
                %a.btn.btn-success.btn-sm.new{:href => url_for([:new, :bank, :manage, @chapter, :ware])}
                  %i.glyphicon.glyphicon-plus
                  %span 增加课件
              .pull-right
                -#= paginate @chapters
