/ {:data => {:cols => 3}} grid 排版参数
/ 具体见 file.coffee
.cell-manage-files.grid{:data => {:cols => 3}}
  - @files.each do |file|
    .file
      :ruby
        info = file.info
        creator = User.find file.creator_id

      .box.gcell
        = render_cell :file, :thumbnail, file

        .info
          .visible-name= file.visible_name
          .creator-info
            %span.creator= creator.name
            %span 添加于
            %span.updated_at= file.updated_at
            %span ·
            %span.size= human_file_size info[:size]
        