.page-net-new
  = form_for @net, :url => "/knowledge_nets" do |f|
    .field= f.text_field :name, :placeholder => "名称"
    .field= f.text_area  :desc, :placeholder => "描述"
    .field= f.submit "创建"
    = link_to "取消", "/knowledge_nets"