.navbar
  = link_to "首页", "/"
  >
  = link_to "教学计划列表", "/plans"
  >
  教学计划: #{@plan.name}

.page-model-form
  .action
    = link_to "返回", "/plans"
    = link_to "添加所属主题", "/plans/#{@plan.id}/topics/new"
    = delete_link "[删除]", "/plans/#{@plan.id}"

  = plan_store_form_for @plan, "/plans/#{@plan.id}"   


.page-model-list
  - locals = {:items => @topics}
  = render :partial => "/plan_store_partials/item_list", :locals => locals
