%h1 教学计划: #{@plan.name}
= plan_store_form_for @plan, "/plans/#{@plan.id}"

= link_to "返回", "/plans"
= link_to "添加新主题", "/plans/#{@plan.id}/topics/new"
= delete_link "[删除]", "/plans/#{@plan.id}"

- if @topics.any?
  %h2 现有主题
  %ul
    - @topics.each do |topic|
      %li
        = link_to topic.name, "/topics/#{topic.id}"
        = delete_link "[删除]", "/topics/#{topic.id}"
