.page-header
  %h1
    组卷管理
    %small 你好。你可以在这里对组卷进行管理。

.nav.nav-tabs
  %li.icon.active
    %a{href: '/bank/manage/test_papers'}
      %i.glyphicon.glyphicon-th-list
      %span 列表
  %li.icon
    %a{href: '/bank/manage/test_papers/new'}
      %i.glyphicon.glyphicon-plus
      %span 新增

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th 试卷标题
      %th 试卷总分
      %th 考试时间
      %th 是否启用
      %th 
  %tbody
    - @test_papers.each do |test_paper|
      %tr
        %td
          %a{href: url_for([:bank, :manage, test_paper])}= test_paper.title
        %td= test_paper.score
        %td= test_paper.minutes
        %td= test_paper.enabled
        %td
          %a{href: url_for([:edit, :bank, :manage, test_paper])} 编辑
          %a{href: url_for([:bank, :manage, test_paper]), data: {method: 'delete', confirm: '你确定吗？'}} 删除
          - if test_paper.enabled
            %a{href: url_for([:disable, :bank, :manage, test_paper]), data: {method: 'post'}} 禁用
          - else
            %a{href: url_for([:enable, :bank, :manage, test_paper]), data: {method: 'post'}} 启用

  %tfoot
    %tr
      %th{colspan: 5}
        .pull-right= paginate @test_papers, :theme => 'twitter-bootstrap-3'
