%p= link_to '下载交易课件备份', '/console/export?backup=ware', target: '_blank'
%p= link_to '下载媒体资源备份', '/console/export?backup=media_clip', target: '_blank'
%p= link_to '下载交易屏幕备份', '/console/export?backup=screen', target: '_blank'
%p= link_to '下载交易关联备份', '/console/export?backup=trade', target: '_blank'
%p= link_to '下载选项明细备份', '/console/export?backup=xxmx', target: '_blank'
%hr
%p= link_to '下载课程分类备份', '/console/export?backup=subject', target: '_blank'
%p= link_to '下载岗位备份', '/console/export?backup=post', target: '_blank'
%p= link_to '下载级别备份', '/console/export?backup=level', target: '_blank'