!!!
%html{ lang: "zh" }
  %head
    %meta{ content: "text/html; charset=utf-8", http:{ equiv: "Content-Type" } }
    %meta{ content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}

    %title Knowledge Camp

    = csrf_meta_tags

    = stylesheet_link_tag :mockup, :'data-turbolinks-track' => true
    = javascript_include_tag :mockup, :'data-turbolinks-track' => true

    = javascript_include_tag '/ckplayer/6.7/ckplayer.js', :'data-turbolinks-track' => true

    = javascript_include_tag '/mediaelement/mediaelement-and-player.min.js', :'data-turbolinks-track' => true
    = stylesheet_link_tag '/mediaelement/mediaelementplayer.min.css', :'data-turbolinks-track' => true

  %body.manager
    :ruby
      manager_sidebar_data = {
        current_func: @current_func,

        dashboard: {
          id: 'dashboard',
          name: '总控面板',
          url: mockup_url(page: 'manager_home'),
          icon: 'dashboard'
        },

        scenes: [
          {
            name: '课程编排',
            funcs: [
              {
                id: 'courses_empty',
                name: '开课管理（空）',
                url: mockup_url(page: 'manager_home', func: 'courses_empty'),
                icon: 'grid layout'
              },
              {
                name: '开课管理（非空）',
                url: mockup_url(page: 'manager_home', func: 'courses'),
                icon: 'grid layout'
              },
            ]
          },
          {
            name: '场景二',
            funcs: [
              {
                name: '功能 D',
                url: mockup_url(page: 'manager_home'),
                icon: 'apple'
              },
              {
                name: '功能 E',
                url: mockup_url(page: 'manager_home'),
                icon: 'android'
              },
              {
                name: '功能 F',
                url: mockup_url(page: 'manager_home'),
                icon: 'bitbucket'
              }
            ]
          },
          {
            name: '场景三',
            funcs: [
              {
                name: '功能 G',
                url: mockup_url(page: 'manager_home'),
                icon: 'github alternate'
              },
              {
                name: '功能 H',
                url: mockup_url(page: 'manager_home'),
                icon: 'google'
              },
              {
                name: '功能 I',
                url: mockup_url(page: 'manager_home'),
                icon: 'weibo'
              }
            ]
          },
          {
            name: '场景 xx',
            funcs: [
              {
                name: '功能 xx',
                url: mockup_url(page: 'manager_home'),
                icon: 'github alternate'
              },
              {
                name: '功能 xx',
                url: mockup_url(page: 'manager_home'),
                icon: 'google'
              },
              {
                name: '功能 xx',
                url: mockup_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_url(page: 'manager_home'),
                icon: 'weibo'
              }
            ]
          }
        ]
      }

    = react_component 'LayoutManagerSidebar', data: manager_sidebar_data

    .manager-page-content
      .func-content.ui.segment.basic
        = yield