!!!
%html{ lang: "zh" }
  %head
    %meta{ content: "text/html; charset=utf-8", http:{ equiv: "Content-Type" } }
    %meta{ content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}

    %title Knowledge Camp

    = csrf_meta_tags

    = stylesheet_link_tag :mockup, :'data-turbolinks-track' => true
    = javascript_include_tag :mockup, :'data-turbolinks-track' => true

    = javascript_include_tag '/ckplayer/6.7/ckplayer.js', :'data-turbolinks-track' => true

    = javascript_include_tag '/mediaelement/mediaelement-and-player.min.js', :'data-turbolinks-track' => true
    = stylesheet_link_tag '/mediaelement/mediaelementplayer.min.css', :'data-turbolinks-track' => true
    
    :javascript
      (function(){
        window.file_part_upload_dom_data = fd = #{FilePartUpload.get_dom_data.to_json};
        window.file_part_upload_dom_data.qiniu_callback_url = "#{mockup_post_path(req: 'create_file_entity')}";
        window.$$browse_btn_data = {
          'data-qiniu-domain':        fd.qiniu_domain,
          'data-qiniu-base-path':     fd.qiniu_base_path,
          'data-qiniu-uptoken-url':   fd.qiniu_uptoken_url,
          'data-qiniu-callback-url':  fd.qiniu_callback_url,
        }
      })();

  %body.manager

    :ruby
      manager_sidebar_data = {
        current_func: @current_func,

        dashboard: {
          id: 'dashboard',
          name: '总控面板',
          url: mockup_manager_url(page: 'dashboard'),
          icon: 'dashboard'
        },

        scenes: [
          {
            name: '课程编排',
            funcs: [
              {
                id: 'courses_empty',
                name: '开课管理（空）',
                url: mockup_manager_url(page: 'courses', empty: true),
                icon: 'grid layout'
              },
              {
                name: '开课管理（非空）',
                url: mockup_manager_url(page: 'courses'),
                icon: 'grid layout'
              },
              {
                name: '课程分类（空）',
                url: mockup_manager_url(page: 'csubjects', empty: true),
                icon: 'grid layout'
              },
              {
                name: '课程分类（非空）',
                url: mockup_manager_url(page: 'csubjects'),
                icon: 'grid layout'
              },
            ]
          },
          {
            name: '课程维护',
            funcs: [
              {
                name: '课程发布（空）',
                url: mockup_manager_url(page: 'courses_publish', empty: true),
                icon: 'grid layout'
              },
              {
                name: '课程发布（非空）',
                url: mockup_manager_url(page: 'courses_publish'),
                icon: 'grid layout'
              }
            ]
          },
          {
            name: '互动管理',
            funcs: [
              {
                name: '问答管理',
                url: mockup_manager_url(page: 'questions'),
                icon: 'question'
              },
              {
                name: '评论管理',
                url: mockup_manager_url(page: 'manager_home'),
                icon: 'android'
              },
            ]
          },
          {
            name: '银行领域知识',
            funcs: [
              {
                name: '前端柜员操作',
                url: mockup_manager_bank_url(page: 'teller_wares'),
                icon: 'rmb'
              },
            ]
          },
          {
            name: '场景 xx',
            funcs: [
              {
                name: '功能 xx',
                url: mockup_manager_url(page: 'manager_home'),
                icon: 'github alternate'
              },
              {
                name: '功能 xx',
                url: mockup_manager_url(page: 'manager_home'),
                icon: 'google'
              },
              {
                name: '功能 xx',
                url: mockup_manager_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_manager_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_manager_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_manager_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_manager_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_manager_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_manager_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_manager_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_manager_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_manager_url(page: 'manager_home'),
                icon: 'weibo'
              },
              {
                name: '功能 xx',
                url: mockup_manager_url(page: 'manager_home'),
                icon: 'weibo'
              }
            ]
          }
        ]
      }

      top_menu_data = {
        sign_out_url: mockup_auth_delete_url(req: 'sign_out'),
        sign_out_to_url: mockup_url(page: 'home')
      }
      current_user_data = MockupController::SAMPLE_USER_DATA

    = react_component 'LayoutManagerTopMenu', data: top_menu_data, current_user_data: current_user_data

    = react_component 'LayoutManagerSidebar', data: manager_sidebar_data

    .manager-page-content
      .func-content.ui.segment.basic
        = yield