!!!
%html{ lang: "zh" }
  %head
    %meta{ content: "text/html; charset=utf-8", http:{ equiv: "Content-Type" } }
    %meta{ content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}

    %title Knowledge Camp

    = csrf_meta_tags

    = stylesheet_link_tag :mockup, :'data-turbolinks-track' => true
    = javascript_include_tag :mockup, :'data-turbolinks-track' => true

  %body
    :ruby
      menu_data = {
        logo: {
          image: 'http://i.teamkn.com/i/WvMTqFbH.png',
          url: mockup_url(page: 'home')
        },
        
        nav_items: [
          {
            name: '课程类目一',
            url: mockup_url(page: 'courses', subject: '1')
          },
          {
            name: '课程类目二',
            url: mockup_url(page: 'courses', subject: '2')
          },
          {
            name: '课程类目三',
            url: mockup_url(page: 'courses', subject: '3')
          },
          {
            name: '下拉',
            url: mockup_url(page: 'courses', subject: '1'),
            sub_items: [
              {
                name: '课程类目四',
                url: mockup_url(page: 'courses', subject: '4')
              },
              {
                name: '课程类目五',
                url: mockup_url(page: 'courses', subject: '5')
              },
            ]
          }
        ],
        
        right: {
          '登录' => mockup_auth_url(page: 'sign_in'),
          '注册' => mockup_auth_url(page: 'sign_up'),
        },

        sign_out_url: mockup_auth_delete_url(req: 'sign_out'),
      }

      current_user_data = MockupController::SAMPLE_USER_DATA

    = react_component 'LayoutTopMenu', data: menu_data, current_user_data: current_user_data

    .layout-page-content
      = yield

    :ruby
      footer_data = {
        logo: 'http://i.teamkn.com/i/uJnxbhr3.png',
        links: {
          '关于' => mockup_url(page: 'about'),
          '使用帮助' => mockup_url(page: 'help'),
          '联系我们' => mockup_url(page: 'contact'),
          '服务条款' => mockup_url(page: 'terms'),
        },
        desc: '京ICP备********号 ©2016 MINDPIN'
      }

    = react_component 'LayoutFooter', data: footer_data