!!!
%html{ lang: "zh" }
  %head
    %meta{ content: "text/html; charset=utf-8", http:{ equiv: "Content-Type" } }
    %meta{ content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}

    %title Knowledge Camp

    = csrf_meta_tags

    - if !ENV["lan_qiniu_compatibility_mode_upload_url"].blank?
      :javascript
        window.use_lan_qiniu_compatibility_mode = true
        window.lan_qiniu_compatibility_mode_upload_url = "#{ENV['lan_qiniu_compatibility_mode_upload_url']}"

    = stylesheet_link_tag :mockup, :'data-turbolinks-track' => true
    = javascript_include_tag :mockup, :'data-turbolinks-track' => true

  %body
    :ruby
      nav_items = CmsConfig.where(name: "show_course_subject_in_nav_item").map do |cms_config|
        cs = KcCourses::CourseSubject.find(cms_config.value)
        {name: cs.name, url: subject_path(cs.id)}
      end
      
      nav_items.push({
        name: '全部课程',
        url: subject_path("all")
      })

      nav_items.push({
        name: '业务查找',
        url: business_categories_path
      })

      if current_user.blank?
        right_data = {
          '登录' => sign_in_path,
          '注册' => sign_up_path
        }
        current_user_data = nil
      else
        right_data = {}
        current_user_data = current_user
      end


      menu_data = {
        logo: {
          image: 'http://i.teamkn.com/i/vKOjyhgb.png?imageMogr2/thumbnail/100x100',
          url: "/"
        },
        nav_items: nav_items,

        right: right_data,
        sign_out_url: api_sign_out_path
      }
    = react_component 'LayoutTopMenu', data: menu_data, current_user_data: current_user_data

    .layout-page-content
      = yield

    :ruby
      footer_data = {
        logo: 'http://i.teamkn.com/i/vKOjyhgb.png?imageMogr2/thumbnail/x100',
        links: {
          '关于' => mockup_url(page: 'about'),
          '使用帮助' => mockup_url(page: 'help'),
          '联系我们' => mockup_url(page: 'contact'),
          '服务条款' => mockup_url(page: 'terms'),
        },
        desc: '@2016 联怡科技'
      }

    = react_component 'LayoutFooter', data: footer_data
