%ul.course-chapters.ul-list
  - @chapters.each_with_index do |chapter, chapter_index|
    %li.chapter.ul-list-head
      .chapter-index.col-md-2.text-right= "第#{chapter_index + 1}章"
      .chapter-name.col-md-10= chapter.title
      .clearfix
    - chapter.wares.each_with_index do |ware, ware_index|
      %li.ware.ul-list-item.chapter-ware
        .progress-bar{style: "width:#{current_user ? ware.read_percent_of_user(current_user) : 0}%;"}
        .other-content
          .ware-index.col-md-2.text-right= "#{chapter_index + 1}-#{ware_index + 1}"
          .ware-name.col-md-8= ware.title
          .ware-action.col-md-2
            - if current_user and ware.has_read_by_user?(current_user)
              %span.glyphicon.glyphicon-ok
              %span.text-success已学完
            - elsif current_user and ware.read_percent_of_user(current_user) > 0
              %a.btn.btn-default{href: study_bank_course_path} 继续学习
            - elsif !current_user or (@current_ware.nil? and chapter_index == 0 and ware_index == 0)
              %a.btn.btn-default{href: study_bank_course_path} 开始学习
        .clearfix
