.course.clearfix
  .cover.pull-left
    %a{href: bank_course_path(@course)}
      %img.img-responsive{src: (@course.cover.blank? ? 'http://ph.4ye.me/440/248' : @course.cover)}
  .course-right
    .info
      %h3.title
        %a{href: bank_course_path(@course)}= @course.title
      .desc= @course.desc

      .bottom
        .progress-info.pull-left
          - if ware = @course.studing_ware_of_user(current_user)
            .to 
              已学习至：
              = ware.title
            .cost
              学习耗时：
              = @str_spent
            - if @last_studied_at
              .last
                最后学习：
                = @last_studied_at
          .progress
            .progress-bar{role: 'progressbar', aria: {valuenow: @percent, valuemin: '0', valuemax: '100'}, style: "width:#{@percent}%;"}
        %a.learn.btn.btn-default.btn-lg.pull-right{href: (study_bank_course_path(@course))}
          - if current_user and @course.read_percent_of_user(current_user) > 0
            继续学习
          - else
            开始学习
        .clearfix

      - if @show_share_and_fav
        .share_and_fav
          .bucketerize.pull-right{data: {rel: "bucketerize", bucketerize: {mode: 'standard', resource_type: 'KcCourses::Course', resource_id: @course.id}}}
            .unhas
              %button.btn.btn-default 
                %span.glyphicon.glyphicon-heart-empty
                收藏
            .has
              %button.btn.btn-info
                %span.glyphicon.glyphicon-heart-empty
                已收藏
          .share.pull-right
            %button.btn.btn-default
              %span.glyphicon.glyphicon-share
              分享
