%ul.course-chapters.ul-list
  - @chapters.each_with_index do |chapter, chapter_index|
    %li.chapter.ul-list-head
      .chapter-index.col-xs-2.text-right= "第#{chapter_index + 1}章"
      .chapter-name.col-xs-10= chapter.title
      .clearfix
    - chapter.wares.each_with_index do |ware, ware_index|
      %li.ware.ul-list-item.chapter-ware{data:{ware_id: ware.id}}
        .other-content
          .progress-bar
          .ware-index.col-xs-2.text-right= "#{chapter_index + 1}-#{ware_index + 1}"
          .ware-name.col-xs-8= ware.title
          .ware-action.col-xs-2.text-success
            .studied
              %span.glyphicon.glyphicon-ok
            .studying
              正在学习
        .clearfix

